:root {
    --primary: #eae9e4;
    --bg: #000000;
    --glass: rgba(255, 215, 0, 0.1);
}

body {
    background: var(--bg);
    color: white;
    font-family: 'Segoe UI', system-ui, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 600vh;
}

.app-container {
    width: 100%;
    max-width: 650px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 { color: var(--primary); letter-spacing: 3px; margin-bottom: 5px; }
.accent { color: white; border: 2px solid var(--primary); padding: 2px 8px; }

.viewport {
    position: relative;
    width: 300%;
    border: 4px solid var(--primary);
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(237, 236, 229, 0.2);
}

video { width: 100%; display: block; filter: brightness(1.1); }

.scan-line {
    position: absolute;
    top: 0; width: 100%; height: 4px;
    background: var(--primary);
    box-shadow: 0 0 15px var(--primary);
    animation: moveScan 3s infinite linear;
}

@keyframes moveScan { 0% { top: 0; } 100% { top: 100%; } }

.pulse-button {
    width: 100%;
    padding: 25px;
    margin: 25px 0;
    background: var(--primary);
    color: #fbf4f4;
    font-size: 24px;
    font-weight: 800;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    box-shadow: 0 10px 20px hsl(106, 14%, 82%);
}

.glass {
    background: var(--glass);
    backdrop-filter: blur(12px);
    border: 1px solid var(--primary);
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#result-text { font-size: 32px; margin: 10px 0; color: var(--primary); }